<h2>Registered Companies</h2>

<div id="industry_dropdown">
<%= select_tag :select_industry, content_tag(:option, 'All Industries', :value => "")+options_from_collection_for_select(@active_industries, "id", "name"), {:class => "industry_dropdown form-control"} %>
</div>


<br />
<br />
<br />

<div id="hello">
  <%= render partial: "companies_list" %>
</div>