// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#industry_list
{
	display: inline;
}

#options
{
	float: right;
	margin-right: 100px;
}

.select_industry
{
	width: 175px;
}